/* �w�b�_�[�S�̂𒆉��� */
header {
    background-color: #28cb69;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* �w�b�_�[���S�𒆉��� */
.header-logo {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 0;
    text-decoration: none; /* 下線を消す（必要なら） */
}

/* リンクの状態に関わらず色を白に固定 */
.header-logo:visited,
.header-logo:link,
.header-logo:hover,
.header-logo:active {
    color: #fff;
}

/* ���C���R���e���c�S�̂𒆉����� */
.main {
    height: auto;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* �^�C�g���Ɛ������𒆉��� */
h2, p {
    color: #444444;
    margin: 30px 0px;
    text-align: center;
}

/* AI�̉񓚕\������ */
.answer {
    color: #444444;
    margin: 30px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* �t�H�[���S�̂𒆉��� */
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* �t�@�C���I�����x���̃f�U�C�� */
.file_choose {
    margin-bottom: 10px;
}

/* �摜�v���r���[�𒆉��� */
#imagePreview {
    display: block;
    max-width: 80%;
    max-height: 250px;
    border-radius: 10px;
    margin: 10px auto;
}

/* �t�b�^�[�̃X�^�C���𒆉��� */
footer {
    background-color: #F7F7F7;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* �R�s�[���C�g�̈ʒu���� */
small {
    display: block;
    text-align: center;
}
