<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>読むぞ！手書き数字</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <h1 class="header-logo"><a href="#">読むぞ！手書き数字AI</a></h1>
    </header>

    <main class="main">    
        <h2>生まれたてのAIが送信された画像の数字を識別できるかもしれません</h2>
        <p>1桁の数字の画像を送信してください</p>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <br>
            <input type="submit" class="btn" value="送信する">
        </form>

        <div id="result" class="answer" style="font-size: 24px; font-weight: bold;">{{ answer | safe }}</div>

        {% if image_path %}
        <h3>処理済み画像</h3>
        <img src="{{ image_path }}" alt="Processed Image" style="max-width: 200px; border-radius: 10px;">
        {% endif %}
    </main>

    <footer>    
        <small>&copy; 2025 岡田製作所</small>   
    </footer>
</body>
</html>
